
/* 头部栏 */
#title{
  background: #f7f7f7;
  .tit-main{
    width: 1200px;
    height: 31px;
    line-height: 32px;
    margin: 0 auto;
    .content{
      float: right;
    }
    span{
      font-size: 12px;
      float: left;
      color:#808080;
      margin-right: 15px;
      cursor: pointer;
      &:hover{
        color: red;
      }
    }
    .notice{
      text-indent: 30px;
      background: url(../image/notice.png) no-repeat left 6px;
    }
    .wechat{
      width: 20px;
      height: 25px;
      float: right;
      background: url(../image/w1.jpg) no-repeat left 6px;
    }
    .qrcode {
      position: absolute;
      width: 128px;
      height: 149px;
      right: 180px;
      top: 30px;
      border: 1px solid #e5e5e5;
      overflow: hidden;
      display: none;
      z-index: 999;
    }    
    .weibo{
      width: 20px;
      height: 25px;
      float: right;
      background: url(../image/w2.jpg) no-repeat left 6px;
    }
  }
}

/* 搜索栏 */
#search{
  width: 100%;
  height: 62px;
  margin-top: 10px;
  .srh-main{
    width: 1200px;
    height: 58px;
    margin: 0 auto;
    .content{
      width: 470px;
      padding-top: 4px;
      float: right;
      .srh-btn{
        float: right;
        margin-top: 10px;
        overflow: hidden;
        position: relative;
        input{
          font-size: 12px;
          width: 255px;
          height: 26px;
          float: left;
          border: 2px solid #c9caca;
        }
        .seek{
          width: 50px;
          height: 30px;
          float: left;
          color: white;
          background: #C51818;
          border: none;
          cursor: pointer;
        }        
        .shopCart{
          width: 108px;
          height: 30px;
          float: left;
          margin:2px 0 0 25px;
          // padding-left: 30px;
          padding: 0 0 0 30px;
          color: white;
          border: none;
          background:url(../image/xuebi.png) no-repeat -152px 0;
          cursor: pointer;
          line-height: 30px;   
        }
      }
      .hot-srh {
        width: 440px;
        height: 30px;
        line-height: 30px;
        float: right;
        ul{
          width: 440px;
          height: 30px;
          li{
            height: 30px;
            font-size: 12px;
            margin-right: 12px;
            float: left;
            cursor: pointer;
            &:nth-child(1){
              margin-right: 2px;
            }
          }
        }
      }
      .cartGoods{
        width: 315px;
        height: 160px;
        padding: 5px;
        border: 1px solid #b81c22;
        position: absolute;
        top: 86px;
        right: 159px;
        background: #ffffff;
        display: none;
        border-top: none;
        z-index: 999;
        cursor: pointer;
        .content{  
          width: 300px;
          height: 170px;
          margin: 10px 10px 0;
          h3{
            font-size: 12px;
            color: #727171;
            margin: 0 0 0 5px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
          }
          .goods-detail{
            overflow: hidden;
            margin: 15px 0 0 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
            img{
              float: left;
            }
            div{
              font-size: 12px;
              margin-left: 10px;
              float: left;
            }
            p{
              font-size: 12px;
              margin-left: 55px;
              float: left;
            }
          }
          .total{
            overflow: hidden;
            margin: 20px 0 0 10px;
            div{
              float: left;
              font-size: 12px;
            }
            button{
              float: left;
              margin-left: 55px;
              padding: 5px 10px;
              background: red;
              border: none;
            }
          }
        }
      }
    }
  }
}

/* 导航栏 */
#nav{
  .nav-main{
    width: 1200px;
    height: 60px;
    padding-top: 50px;
    margin: 0 auto;
    a{
      width: 185px;
      height: 46px;
      float: left;
      background: url(../image/xuebi.png) no-repeat 0 -60px;
      cursor: pointer;
    }
    .navList{
      width: 1000px;
      float: left;
      text-align: center;
      position: relative;
      >li{
        width: 96px;
        height: 30px;
        line-height: 30px;
        margin-top: 12px;
        float: left;
        border-right: 2px solid #ccc;
        cursor: pointer;
        &:nth-child(1){
          margin-left: 10px;
        }
        &:nth-child(2){
          background: url(../image/icon_hot.png) no-repeat 56px 0px;
        }
        &:nth-child(3){
          background: url(../image/icon_hot.png) no-repeat 63px 0px;
        }
        &:nth-child(6){
          background: url(../image/icon_hot.png) no-repeat 47px 0px;
        }
      }
      .fleece{
        font-size: 14px;
        width: 96px;
        position: absolute;
        left: 107px;
        top: 44px;
        border: 1px solid #ccc;
        border-radius: 0px 0px 5px 5px;
        display: block;
        border-top: 6px solid red;
        text-align: center;
        display: none;
        background: white;
        z-index: 999;
      }
      .business{
        font-size: 14px;
        width: 96px;
        position: absolute;
        left: 205px;
        top: 44px;
        border: 1px solid #ccc;
        border-radius: 0px 0px 5px 5px;
        display: block;
        border-top: 6px solid red;
        text-align: center;
        display: none;
        background: white;
        z-index: 999;
      }
      .relax{
        font-size: 14px;
        width: 96px;
        position: absolute;
        left: 303px;
        top: 44px;
        border: 1px solid #ccc;
        border-radius: 0px 0px 5px 5px;
        display: block;
        border-top: 6px solid red;
        text-align: center;
        display: none;
        background: white;
        z-index: 999;
      }
      .sweater{
        font-size: 14px;
        width: 96px;
        position: absolute;
        left: 401px;
        top: 44px;
        border: 1px solid #ccc;
        border-radius: 0px 0px 5px 5px;
        display: block;
        border-top: 6px solid red;
        text-align: center;
        display: none;
        background: white;
        z-index: 999;
      }
      .coat{
        font-size: 14px;
        width: 96px;
        position: absolute;
        left: 499px;
        top: 44px;
        border: 1px solid #ccc;
        border-radius: 0px 0px 5px 5px;
        display: block;
        border-top: 6px solid red;
        text-align: center;
        display: none;
        background: white;
        z-index: 999;
      }
      .knitwear{
        font-size: 14px;
        width: 96px;
        position: absolute;
        left: 597px;
        top: 44px;
        border: 1px solid #ccc;
        border-radius: 0px 0px 5px 5px;
        display: block;
        border-top: 6px solid red;
        text-align: center;
        display: none;
        background: white;
        z-index: 999;
      }
      .pants{
        font-size: 14px;
        width: 96px;
        position: absolute;
        left: 695px;
        top: 44px;
        border: 1px solid #ccc;
        border-radius: 0px 0px 5px 5px;
        display: block;
        border-top: 6px solid red;
        text-align: center;
        display: none;
        background: white;
        z-index: 999;
      }
      .shoe{
        font-size: 14px;
        width: 96px;
        position: absolute;
        left: 793px;
        top: 44px;
        border: 1px solid #ccc;
        border-radius: 0px 0px 5px 5px;
        display: block;
        border-top: 6px solid red;
        text-align: center;
        display: none;
        background: white;
        z-index: 999;
      }
      .furniture{
        font-size: 14px;
        width: 96px;
        position: absolute;
        left: 891px;
        top: 44px;
        border: 1px solid #ccc;
        border-radius: 0px 0px 5px 5px;
        display: block;
        border-top: 6px solid red;
        text-align: center;
        display: none;
        background: white;
        z-index: 999;
      } 
    }
  }
}


/* 商品分类条目 */
#sweater {
  width: 1200px;
  margin: 0 auto;
}
/* 商品数据 */
.goods-con{
  width: 1200px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  .list{
    .listItem{
      background: #FFF;
      margin: 20px 15px 45px 20px;
      width: 260px;height: 260px;
      padding: 0px;
      float: left;
      .img{
        width: 224px;
        height: 224px;
        margin:0 0 0 20px;
        position: relative;
        img{
          width: 224px;
          height: 224px;
        }
        .addGoods{
          width: 112px;
          height: 30px;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -56px;
          margin-top: -15px;
          color:rgb(184, 0, 1);
          border: 1px solid red;
          text-align: center;
          line-height: 30px;
          background-color: lightcoral;
          display: none;
        }
        // img:hover .addGoods{
        //   display: block;
        // }
      }
      a:hover .addGoods{
        display: block;
      }
      
      h3{
        height: 17px;
        line-height: 17px;
        text-align: center;
        font-weight: bold;
        background: #ffffff;
        margin: 5px 0px 7px 0px;
        overflow: hidden;
        font-size: 14px;
        a{
          color: #676767;
        }
      }
      .itemPrice{
        text-align: center;
        span:nth-child(1){
          font-size: 13px;
          color: rgb(184, 0, 1);
          line-height: 25px;
          text-align: center;
          text-decoration: line-through;
        }
        span:nth-child(2){
          font-weight: bold;
          margin: 0 0 0 10px;
          color: #b80001;
          line-height: 25px;
          text-align: center;
          font-size: 13px;
        }
        
      }
    }
  }
}


/* 回到顶部  */
.toTop{
  width: 25px;
  height: 90px;
  display: none;
  background: url(../image/backtotop.png) no-repeat;
  right: 10px;
  bottom: 10px;
  position: fixed;
  z-index: 9999;
  cursor: pointer;
}

/* 帮助中心 */
#help{
  .help-main{
    width: 1200px;
    height: 282px;
    margin: 0px auto;
    border: 1px solid #eee;
    .helpTop{
      width: 1000px;
      height: 182px;
      margin: 0px auto;
      font-size: 12px;
      img{
        margin-left: -50px;
      }
      .helpTop1{
        width: 300px;
        height: 110px;
        float: left;
        margin: 20px 0 0 40px;
        text-align: center;
        padding-top: 30px;
        border-right: 1px solid #e0e0e1;        
        button{
          background: #b81c22;
          color: #ffffff;
          border: none;
          margin: 15px 50px 0 0;
          padding: 5px 12px;
          cursor: pointer;
        }
      }
      .helpTop2{
        width: 300px;
        height: 110px;
        float: left;
        margin: 20px 0 0 10px;
        text-align: center;
        padding-top: 30px;
        border-right: 1px solid #e0e0e1;
        img{
          cursor: pointer;
          margin-bottom: 10px;
        }
        span{
          margin-right: 50px;
          height: 20px;
          line-height: 20px;
        }
      }
      .helpTop3{
        width: 300px;
        height: 132px;
        float: left;
        margin-left: 10px;
        text-align: center;
        padding-top: 30px;
        img{
          width: 86px;
          height: 86px;
          margin-left: 105px;
          cursor: pointer;
        }
        span{
          margin-left: 105px;
          display: block;
          height: 30px;
          line-height: 30px;
        }
      }
    }
    .helpBottom{
      width: 1000px;
      height: 50px;
      margin: 0px auto;
      background:#f8f8f8;
      li{
        font-size: 14px;
        color: #323232;
        text-align: center;
        line-height: 30px;
        height: 30px;
        float: left;
        margin-top: 12px;
        padding: 0px 50px;
        border-right: 1px solid #dadadb;
        cursor: pointer;
        &:nth-child(6){
          border-right: none;
        }  
      }
    }
  }
}

/* 版权栏 */
#copyright{
  .copy-main{
    width: 1200px;
    height: 136px;
    margin: 50px auto;
    text-align: center;
    .copyContent{
      width: 1200px;
      height: 85px;
      overflow: hidden;
      padding-top: 10px;
      border-top: 1px solid black;
      span{
        font-size: 12px;
        color: #333;
      }
    }
    .copyLogo{
      span{
        margin-right: 10px;
        cursor: pointer;
      }
      .logo1{
        width: 165px;
        height: 45px;
        margin-left: 450px;
        float: left;
        background: url(../image/copyright.png) no-repeat 0px -629px;
      }
      .logo2{
        width: 101px;
        height: 42px;
        float: left;
        background: url(../image/copyright.png) no-repeat -97px -675px;
      }
      .logo3{
        width: 42px;
        height: 42px;
        float: left;
        background: url(../image/copyright.png) no-repeat -202px -675px;
      }
    } 
  }
}
