<style>

/* 帮助中心 */
#help .help-main {
  width: 1200px;
  height: 282px;
  margin: 0px auto;
  border: 1px solid #eee; }
  #help .help-main .helpTop {
    width: 1000px;
    height: 182px;
    margin: 0px auto;
    font-size: 12px; }
    #help .help-main .helpTop img {
      margin-left: -50px; }
    #help .help-main .helpTop .helpTop1 {
      width: 300px;
      height: 110px;
      float: left;
      margin: 20px 0 0 40px;
      text-align: center;
      padding-top: 30px;
      border-right: 1px solid #e0e0e1; }
      #help .help-main .helpTop .helpTop1 button {
        background: #b81c22;
        color: #ffffff;
        border: none;
        margin: 15px 50px 0 0;
        padding: 5px 12px;
        cursor: pointer; }
    #help .help-main .helpTop .helpTop2 {
      width: 300px;
      height: 110px;
      float: left;
      margin: 20px 0 0 10px;
      text-align: center;
      padding-top: 30px;
      border-right: 1px solid #e0e0e1; }
      #help .help-main .helpTop .helpTop2 img {
        cursor: pointer;
        margin-bottom: 10px; }
      #help .help-main .helpTop .helpTop2 span {
        margin-right: 50px;
        height: 20px;
        line-height: 20px; }
    #help .help-main .helpTop .helpTop3 {
      width: 300px;
      height: 132px;
      float: left;
      margin-left: 10px;
      text-align: center;
      padding-top: 30px; }
      #help .help-main .helpTop .helpTop3 img {
        width: 86px;
        height: 86px;
        margin-left: 105px;
        cursor: pointer; }
      #help .help-main .helpTop .helpTop3 span {
        margin-left: 105px;
        display: block;
        height: 30px;
        line-height: 30px; }
  #help .help-main .helpBottom {
    width: 1000px;
    height: 50px;
    margin: 0px auto;
    background: #f8f8f8; }
    #help .help-main .helpBottom li {
      font-size: 14px;
      color: #323232;
      text-align: center;
      line-height: 30px;
      height: 30px;
      float: left;
      margin-top: 12px;
      padding: 0px 50px;
      border-right: 1px solid #dadadb;
      cursor: pointer; }
      #help .help-main .helpBottom li:nth-child(6) {
        border-right: none; }

/* 版权栏 */
#copyright .copy-main {
  width: 1200px;
  height: 136px;
  margin: 50px auto;
  text-align: center; }
  #copyright .copy-main .copyContent {
    width: 1200px;
    height: 85px;
    overflow: hidden;
    padding-top: 10px;
    border-top: 1px solid black; }
    #copyright .copy-main .copyContent span {
      font-size: 12px;
      color: #333; }
  #copyright .copy-main .copyLogo span {
    margin-right: 10px;
    cursor: pointer; }
  #copyright .copy-main .copyLogo .logo1 {
    width: 165px;
    height: 45px;
    margin-left: 450px;
    float: left;
    background: url(../image/copyright.png) no-repeat 0px -629px; }
  #copyright .copy-main .copyLogo .logo2 {
    width: 101px;
    height: 42px;
    float: left;
    background: url(../image/copyright.png) no-repeat -97px -675px; }
  #copyright .copy-main .copyLogo .logo3 {
    width: 42px;
    height: 42px;
    float: left;
    background: url(../image/copyright.png) no-repeat -202px -675px; }

</style>



<!-- 帮助中心 -->
<div id="help">
  <div class="help-main">
    <div class="helpTop">
      <div class="helpTop1">
        <img src="../image/onlinecustomer.png" alt=""> <br>
        <button> 7X9小时在线客服 </button>
      </div>
      <div class="helpTop2">
        <img src="../image/seven.png" alt=""> <br>
        <span>7天内退货</span> <br>
        <span>购物满199元免运费</span>
      </div>
      <div class="helpTop3">
        <img src="../image/fkqrcode.jpg" alt=""> <br>
        <span>扫描下载凡客客户端</span>
      </div>
    </div>
    <div class="helpBottom">
      <ul>
        <li>关于凡客</li>
        <li>新手指南</li>
        <li>配送范围及时间</li>
        <li>支付</li>
        <li>售后服务</li>
        <li>帮助中心</li>
      </ul>
    </div>
  </div>
</div>

<!-- 版权栏 -->
<div id="copyright">
  <div class="copy-main">
    <div class="copyContent">
      <span>Copyright 2007 - 2020 vancl.com All Rights Reserved京ICP备08000757号 京公网安备11011502002400号 出版物经营许可证新出发京批字第直110138号</span> <br>
      <span>凡客诚品（北京）科技有限公司</span>
    </div>
    <div class="copyLogo">
      <span class="logo1"></span>
      <span class="logo2"></span>
      <span class="logo3"></span>
    </div>
  </div>
</div>