<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>商品列表页</title>

  <link rel="stylesheet" href="./style/reset.css">
  <link rel="stylesheet" href="./style/goodsList.css"> 
  <script src="./script/require.2.1.9.js" defer async = 'true' data-main = './script/list.js'></script>
</head>
<body>
  
<div id="header"></div>

<!-- 商品列表 -->
<div id="sweater"><img src="./image/list-item1.jpg" alt=""></div>
<div id="goods">
  <div class="goods-con">
    <ul class="list">

      <!-- <li class="listItem">
        <a href="#"><img src="../image/list1.jpg" alt=""></a>
        <h3><a href="#">凡客基础暖绒开衫卫衣 黑色</a></h3>
        <div class="itemPrice">
          <span>售价￥158</span>
          <span>充值购买相当于￥79.0</span>
        </div>
      </li> -->
  
    </ul>
  </div>
</div>

<!-- 回到顶部 -->
<div class="toTop"></div>


<div id="footer"></div>

<script src="./script/jquery-1.8.3.js"></script>
<script src="./script/GDlist.js"></script>

</body>
</html>