<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>商品列表页</title>

  <link rel="stylesheet" href="./style/reset.css">
  <link rel="stylesheet" href="./style/goodsList.css"> 
  <script src="./script/require.2.1.9.js" defer async = 'true' data-main = './script/list.js'></script>
</head>
<body>
  
<div id="header"></div>

<!-- 导航栏 -->
<div id="nav">
  <div class="nav-main">
    <a href="#"></a>
    <ul class="navList">
      <li class="home">首页 </li>

      <li class="class1">摇粒绒 
        <ul class="class2 fleece">
          <li>摇粒绒</li>
          <li>防羊羔绒</li>
        </ul>
      </li>
      <li class="class1">商务衬衫 
        <ul class="class2 business">
          <li>长袖免烫</li>
          <li>舒适商务</li>
          <li>高支衬衫</li>
          <li>短袖免烫</li>
          <li>短袖桑蚕丝</li>
        </ul>
      </li>
      <li class="class1">休闲衬衫 
        <ul class="class2 relax">
          <li>牛津纺</li>
          <li>法兰绒</li>
          <li>灯芯绒</li>
          <li>水洗棉</li>
          <li>易打理</li>
          <li>麻棉系列</li>
          <li>复古风系列</li>
          <li>女款</li>
          <li>短袖休闲衬衫</li>
        </ul>
      </li>
      <li class="class1">卫衣 
        <ul class="class2 sweater">
          <li>时尚款</li>
          <li>开衫</li>
          <li>圆领</li>
          <li>连帽</li>
        </ul>
      </li>
      <li class="class1">外套 
        <ul class="class2 coat">
          <li>羽绒服</li>
          <li>大衣</li>
          <li>夹克</li>
          <li>西服</li>
          <li>摇粒绒</li>
          <li>冲锋衣</li>
        </ul>
      </li>
      <li class="class1">针织衫 
        <ul class="class2 knitwear">
          <li>圆领</li>
          <li>V领开衫</li>
          <li>polo领</li>
          <li>高领</li>
          <li>开衫</li>
        </ul>
      </li>
      <li class="class1">裤装 
        <ul class="class2 pants">
          <li>牛仔裤</li>
          <li>休闲裤</li>
          <li>针织裤</li>
          <li>运动系列</li>
          <li>沙滩裤</li>
          <li>短裤</li>
          <li>半裙</li>
        </ul>
      </li>
      <li class="class1">鞋 
        <ul class="class2 shoe">
          <li>帆布鞋</li>
          <li>休闲鞋</li>
          <li>运动鞋</li>
          <li>凉鞋</li>
          <li>皮鞋</li>
          <li>靴子</li>
          <li>女鞋</li>
        </ul>
      </li>
      <li class="class1">家具配饰 
        <ul class="class2 furniture">
          <li>袜品</li>
          <li>内衣</li>
          <li>家居服</li>
          <li>连裤袜</li>
          <li>家居鞋</li>
          <li>床品件套</li>
          <li>毯</li>
          <li>被</li>
          <li>围巾</li>
          <li>枕</li>
          <li>抱枕 </li>
          <li>手机壳</li>
          <li>箱包</li>
          <li>裙装</li>
          <li>马甲</li>
        </ul>
      </li>
    </ul>
  </div>
</div> 

<!-- 商品列表 -->
<div id="sweater"><img src="./image/list-item1.jpg" alt=""></div>
<div id="goods">
  <div class="goods-con">
    <ul class="list">

      <!-- <li class="listItem">
        <a href="#"><img src="../image/list1.jpg" alt=""></a>
        <h3><a href="#">凡客基础暖绒开衫卫衣 黑色</a></h3>
        <div class="itemPrice">
          <span>售价￥158</span>
          <span>充值购买相当于￥79.99</span>
        </div>
      </li> -->
      
    </ul>
  </div>
</div>

<!-- 回到顶部 -->
<div class="toTop"></div>


<div id="footer"></div>

<script src="./script/jquery-1.8.3.js"></script>

</body>
</html>