
<style>
  
/* 头部栏  */
#title {
  background: #f7f7f7; }
  #title .tit-main {
    width: 1200px;
    height: 31px;
    line-height: 32px;
    margin: 0 auto; }
    #title .tit-main .content {
      float: right; }
    #title .tit-main span {
      font-size: 12px;
      float: left;
      color: #808080;
      margin-right: 15px;
      cursor: pointer; }
      #title .tit-main span:hover {
        color: red; }
    #title .tit-main .notice {
      text-indent: 30px;
      background: url(../image/notice.png) no-repeat left 6px; }
    #title .tit-main .wechat {
      width: 20px;
      height: 25px;
      float: right;
      background: url(../image/w1.jpg) no-repeat left 6px; }
    #title .tit-main .qrcode {
      position: absolute;
      width: 128px;
      height: 149px;
      right: 180px;
      top: 30px;
      border: 1px solid #e5e5e5;
      overflow: hidden;
      display: none;
      z-index: 999; }
    #title .tit-main .weibo {
      width: 20px;
      height: 25px;
      float: right;
      background: url(../image/w2.jpg) no-repeat left 6px; }



/* 搜索栏 */
#search {
  width: 100%;
  height: 62px;
  margin-top: 10px; }
  #search .srh-main {
    width: 1200px;
    height: 58px;
    margin: 0 auto; }
    #search .srh-main .content {
      width: 470px;
      padding-top: 4px;
      float: right; }
      #search .srh-main .content .srh-btn {
        float: right;
        margin-top: 10px;
        overflow: hidden;
        position: relative; }
        #search .srh-main .content .srh-btn input {
          font-size: 12px;
          width: 255px;
          height: 26px;
          float: left;
          border: 2px solid #c9caca; }
        #search .srh-main .content .srh-btn .seek {
          width: 50px;
          height: 30px;
          float: left;
          color: white;
          background: #C51818;
          border: none;
          cursor: pointer; }
        #search .srh-main .content .srh-btn .shopCart {
          width: 108px;
          height: 30px;
          float: left;
          margin: 2px 0 0 25px;
          padding: 0 0 0 30px;
          color: white;
          border: none;
          background: url(../image/xuebi.png) no-repeat -152px 0;
          cursor: pointer;
          line-height: 30px; }
      #search .srh-main .content .hot-srh {
        width: 440px;
        height: 30px;
        line-height: 30px;
        float: right; }
        #search .srh-main .content .hot-srh ul {
          width: 440px;
          height: 30px; }
          #search .srh-main .content .hot-srh ul li {
            height: 30px;
            font-size: 12px;
            margin-right: 12px;
            float: left;
            cursor: pointer; }
            #search .srh-main .content .hot-srh ul li:nth-child(1) {
              margin-right: 2px; }
      #search .srh-main .content .cartGoods {
        width: 315px;
        height: 160px;
        padding: 5px;
        border: 1px solid #b81c22;
        position: absolute;
        top: 86px;
        right: 159px;
        background: #ffffff;
        display: none;
        border-top: none;
        z-index: 999;
        cursor: pointer; }
        #search .srh-main .content .cartGoods .content {
          width: 300px;
          height: 170px;
          margin: 10px 10px 0; }
          #search .srh-main .content .cartGoods .content h3 {
            font-size: 12px;
            color: #727171;
            margin: 0 0 0 5px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc; }
          #search .srh-main .content .cartGoods .content .goods-detail {
            overflow: hidden;
            margin: 15px 0 0 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc; }
            #search .srh-main .content .cartGoods .content .goods-detail img {
              float: left; }
            #search .srh-main .content .cartGoods .content .goods-detail div {
              font-size: 12px;
              margin-left: 10px;
              float: left; }
            #search .srh-main .content .cartGoods .content .goods-detail p {
              font-size: 12px;
              margin-left: 55px;
              float: left; }
          #search .srh-main .content .cartGoods .content .total {
            overflow: hidden;
            margin: 20px 0 0 10px; }
            #search .srh-main .content .cartGoods .content .total div {
              float: left;
              font-size: 12px; }
            #search .srh-main .content .cartGoods .content .total button {
              float: left;
              margin-left: 55px;
              padding: 5px 10px;
              background: red;
              border: none; }

/* 导航栏 */
#nav .nav-main {
  width: 1200px;
  height: 60px;
  padding-top: 50px;
  margin: 0 auto; }
  #nav .nav-main a {
    width: 185px;
    height: 46px;
    float: left;
    background: url(../image/xuebi.png) no-repeat 0 -60px;
    cursor: pointer; }
  #nav .nav-main .navList {
    width: 1000px;
    float: left;
    text-align: center;
    position: relative; }
    #nav .nav-main .navList > li {
      width: 96px;
      height: 30px;
      line-height: 30px;
      margin-top: 12px;
      float: left;
      border-right: 2px solid #ccc;
      cursor: pointer; }
      #nav .nav-main .navList > li:nth-child(1) {
        margin-left: 10px; }
      #nav .nav-main .navList > li:nth-child(2) {
        background: url(../image/icon_hot.png) no-repeat 56px 0px; }
      #nav .nav-main .navList > li:nth-child(3) {
        background: url(../image/icon_hot.png) no-repeat 63px 0px; }
      #nav .nav-main .navList > li:nth-child(6) {
        background: url(../image/icon_hot.png) no-repeat 47px 0px; }
    #nav .nav-main .navList .fleece {
      font-size: 14px;
      width: 96px;
      position: absolute;
      left: 107px;
      top: 44px;
      border: 1px solid #ccc;
      border-radius: 0px 0px 5px 5px;
      display: block;
      border-top: 6px solid red;
      text-align: center;
      display: none;
      background: white;
      z-index: 999; }
    #nav .nav-main .navList .business {
      font-size: 14px;
      width: 96px;
      position: absolute;
      left: 205px;
      top: 44px;
      border: 1px solid #ccc;
      border-radius: 0px 0px 5px 5px;
      display: block;
      border-top: 6px solid red;
      text-align: center;
      display: none;
      background: white;
      z-index: 999; }
    #nav .nav-main .navList .relax {
      font-size: 14px;
      width: 96px;
      position: absolute;
      left: 303px;
      top: 44px;
      border: 1px solid #ccc;
      border-radius: 0px 0px 5px 5px;
      display: block;
      border-top: 6px solid red;
      text-align: center;
      display: none;
      background: white;
      z-index: 999; }
    #nav .nav-main .navList .sweater {
      font-size: 14px;
      width: 96px;
      position: absolute;
      left: 401px;
      top: 44px;
      border: 1px solid #ccc;
      border-radius: 0px 0px 5px 5px;
      display: block;
      border-top: 6px solid red;
      text-align: center;
      display: none;
      background: white;
      z-index: 999; }
    #nav .nav-main .navList .coat {
      font-size: 14px;
      width: 96px;
      position: absolute;
      left: 499px;
      top: 44px;
      border: 1px solid #ccc;
      border-radius: 0px 0px 5px 5px;
      display: block;
      border-top: 6px solid red;
      text-align: center;
      display: none;
      background: white;
      z-index: 999; }
    #nav .nav-main .navList .knitwear {
      font-size: 14px;
      width: 96px;
      position: absolute;
      left: 597px;
      top: 44px;
      border: 1px solid #ccc;
      border-radius: 0px 0px 5px 5px;
      display: block;
      border-top: 6px solid red;
      text-align: center;
      display: none;
      background: white;
      z-index: 999; }
    #nav .nav-main .navList .pants {
      font-size: 14px;
      width: 96px;
      position: absolute;
      left: 695px;
      top: 44px;
      border: 1px solid #ccc;
      border-radius: 0px 0px 5px 5px;
      display: block;
      border-top: 6px solid red;
      text-align: center;
      display: none;
      background: white;
      z-index: 999; }
    #nav .nav-main .navList .shoe {
      font-size: 14px;
      width: 96px;
      position: absolute;
      left: 793px;
      top: 44px;
      border: 1px solid #ccc;
      border-radius: 0px 0px 5px 5px;
      display: block;
      border-top: 6px solid red;
      text-align: center;
      display: none;
      background: white;
      z-index: 999; }
    #nav .nav-main .navList .furniture {
      font-size: 14px;
      width: 96px;
      position: absolute;
      left: 891px;
      top: 44px;
      border: 1px solid #ccc;
      border-radius: 0px 0px 5px 5px;
      display: block;
      border-top: 6px solid red;
      text-align: center;
      display: none;
      background: white;
      z-index: 999; }
</style>




<!-- 头部栏 -->
<div id="title">
  <div class="tit-main">
    <div class="content">
      <span class="welcome">您好，欢迎光临凡客诚品！</span>
      <span class="login">登录</span>
      <span>|</span>
      <span class="register">注册</span>
      <span class="myOrder">我的订单</span>
      <span class="notice">网站公告</span>
      <a href="#" class="weibo"></a>
      <a href="#" class="wechat"></a>
      <img src="../image/weixin.png" alt="" class="qrcode">
    </div>
  </div>
</div>

<!-- 搜索栏 -->
<div id="search">
  <div class="srh-main">
    <div class="content">
      <div class="srh-btn">
        <input type="text" placeholder="搜“休闲裤”，体验与众不同">
        <button class="seek">搜索</button>
        <button class="shopCart">购物车（1）</button> 
      </div>      
      <div class="hot-srh">
        <ul>
          <li>热门搜索：</li>
          <li>免烫衬衫</li>
          <li>外套</li>
          <li>针织衫</li>
          <li>卫衣</li>
          <li>休闲裤</li>
          <li>帆布鞋</li>
          <li>羽绒服</li>
        </ul>
      </div> 
      <div class="cartGoods">
        <div class="content">
          <h3>最近加入的商品：</h3>
          <div class="goods-detail">
            <img src="./image/36x36.jpg" alt="">
            <div>
              <span>休闲衬衫 法兰绒 男款 藏青色</span> <br>
              <span>￥158.00 X 1</span>
            </div>
            <p>删除</p>
          </div>
          <div class="total">
            <div>
              <span>共计(未计算促销折扣)</span> <br>
              <span>￥158</span>
            </div>
            <button>查看购物车(1件)</button>
          </div>
        </div>
      </div>   
    </div>
  </div>
</div>

<!-- 导航栏 -->
<div id="nav">
  <div class="nav-main">
    <a href="#"></a>
    <ul class="navList">
      <li>首页 </li>

      <li class="fleece1 ">摇粒绒 
        <ul class="fleece">
          <li>摇粒绒</li>
          <li>防羊羔绒</li>
        </ul>
      </li>
      <li class="business1">商务衬衫 
        <ul class="business">
          <li>长袖免烫</li>
          <li>舒适商务</li>
          <li>高支衬衫</li>
          <li>短袖免烫</li>
          <li>短袖桑蚕丝</li>
        </ul>
      </li>
      <li class="relax1">休闲衬衫 
        <ul class="relax">
          <li>牛津纺</li>
          <li>法兰绒</li>
          <li>灯芯绒</li>
          <li>水洗棉</li>
          <li>易打理</li>
          <li>麻棉系列</li>
          <li>复古风系列</li>
          <li>女款</li>
          <li>短袖休闲衬衫</li>
        </ul>
      </li>
      <li class="sweater1">卫衣 
        <ul class="sweater">
          <li>时尚款</li>
          <li>开衫</li>
          <li>圆领</li>
          <li>连帽</li>
        </ul>
      </li>
      <li class="coat1">外套 
        <ul class="coat">
          <li>羽绒服</li>
          <li>大衣</li>
          <li>夹克</li>
          <li>西服</li>
          <li>摇粒绒</li>
          <li>冲锋衣</li>
        </ul>
      </li>
      <li class="knitwear1">针织衫 
        <ul class="knitwear">
          <li>圆领</li>
          <li>V领开衫</li>
          <li>polo领</li>
          <li>高领</li>
          <li>开衫</li>
        </ul>
      </li>
      <li class="pants1">裤装 
        <ul class="pants">
          <li>牛仔裤</li>
          <li>休闲裤</li>
          <li>针织裤</li>
          <li>运动系列</li>
          <li>沙滩裤</li>
          <li>短裤</li>
          <li>半裙</li>
        </ul>
      </li>
      <li class="shoe1">鞋 
        <ul class="shoe">
          <li>帆布鞋</li>
          <li>休闲鞋</li>
          <li>运动鞋</li>
          <li>凉鞋</li>
          <li>皮鞋</li>
          <li>靴子</li>
          <li>女鞋</li>
        </ul>
      </li>
      <li class="furniture1">家具配饰 
        <ul class="furniture">
          <li>袜品</li>
          <li>内衣</li>
          <li>家居服</li>
          <li>连裤袜</li>
          <li>家居鞋</li>
          <li>床品件套</li>
          <li>毯</li>
          <li>被</li>
          <li>围巾</li>
          <li>枕</li>
          <li>抱枕 </li>
          <li>手机壳</li>
          <li>箱包</li>
          <li>裙装</li>
          <li>马甲</li>
        </ul>
      </li>
    </ul>
  </div>
</div>










