<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>凡客首页</title>
<link rel="stylesheet" href="./style/index.css">
<link rel="stylesheet" href="./style/reset.css">
<link rel="stylesheet" href="./style/swiper-bundle.min.css">

</head>
<body>

  <!-- 头部栏 -->
<div id="header"></div>
  
<!-- 右侧悬浮栏 -->
<div id="floatBar">
  <div class="gift">
  </div>
  <div class="download">
  </div>
  <div class="cs">
  </div>
  <div class="toTop">
  </div>
</div>

<!-- 轮播图栏 -->
<div id="banner">
  <div class="ban-main">
    <!-- Swiper -->
     <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="../image/ban01.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="../image/ban02.jpg" alt="">
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div> 
  </div>
</div>

<!-- 优惠券栏 -->
<div id="coupon">
  <div class="cpn-main">
    <img src="../image/coupon.jpg" alt="">
    <div class="coupon">
      <img src="../image/coupon30.jpg" alt="">
      <img src="../image/coupon150.jpg" alt="">
      <img src="../image/coupon20.jpg" alt="">
    </div>
  </div>
</div>

<!-- 商品栏 -->
<div id="goods">
  <div class="goods-main">
    <!-- 商品列表 -->
    <ul class="goodsList">
      <li class="goodsList1">
        <img src="../image/goods01.jpg" alt="">
        <img src="../image/goods02.jpg" alt="">
      </li>
      <li class="goodsList2">
        <img src="../image/goods03.jpg" alt="">
        <img src="../image/goods04.jpg" alt="">
      </li>
    </ul>
    <!-- 更多品类 -->
    <div class="moreGoods">
      <img src="../image/moreGoods.jpg" alt="" class="more">
      <ul class="moreLlist">
        <li class="moreLlist1">
          <img src="../image/more01.jpg" alt="">
          <img src="../image/more02.jpg" alt="">
        </li>
        <li class="moreLlist2">
          <img src="../image/more03.jpg" alt="">
          <img src="../image/more04.jpg" alt="">
        </li>
      </ul>
    </div>
    <!-- 优选推荐 -->
    <div class="recommend ">
      <h3>优选推荐</h3>
      <div class="recommend1">
        <img src="../image/recommend01.jpg" alt="">
        <h4>日式免烫短袖衬衫</h4>
        <span>冰点直降充值后 159元</span>
      </div>
      <div class="recommend2">
        <div class="recommend2-left">
          <div class="left1">
            <img src="../image/left2.jpg" alt="">
            <h4>牛津纺</h4>
            <span>冰点直降充值后 39元</span>
          </div>
          <div class="left2">
            <img src="../image/left1.jpg" alt="">
            <h4>卫衣</h4>
            <span>冰点直降充值后 59元</span>
          </div>
        </div>
        <div class="recommend2-right">
          <div>
            <img src="../image/recommend02.jpg" alt="">
            <h4>软壳风衣</h4>
            <span>冰点直降充值后 239元</span>
          </div>
        </div>
      </div>
      <div class="recommend2">
        <div class="recommend2-left">
          <div class="left1">
            <img src="../image/left2.jpg" alt="">
            <h4>牛津纺</h4>
            <span>冰点直降充值后 39元起</span>
          </div>
          <div class="left2">
            <img src="../image/left1.jpg" alt="">
            <h4>卫衣</h4>
            <span>冰点直降充值后 59元起</span>
          </div>
        </div>
        <div class="recommend2-right">
          <div>
            <img src="../image/recommend02.jpg" alt="">
            <h4>软壳风衣</h4>
            <span>冰点直降充值后 239元起</span>
          </div>
        </div>
      </div>
      <div class="recommend1">
        <img src="../image/recommend01.jpg" alt="">
        <h4>日式免烫短袖衬衫</h4>
        <span>冰点直降充值后 159元起</span>
      </div>
    </div>

    <!-- 下装推荐 -->
    <div class="lowCloth">
      <h3>下装推荐</h3>
      <ul class="clothList">
        <li class="lowCloth1">
            <div>
              <img src="../image/lowCloth01.jpg" alt="">
              <h4>休闲裤</h4>
              <span>冰点直降充值后 99元</span>
            </div>
        </li>
        <li class="lowCloth2">
          <div>
              <img src="../image/lowCloth02.jpg" alt="">
              <h4>牛仔裤</h4>
              <span>冰点直降充值后 79元</span>
          </div>
        </li>
        <li class="lowCloth3">
          <div>
              <img src="../image/lowCloth03.jpg" alt="">
              <h4>针织裤</h4>
              <span>冰点直降充值后 89元</span>
          </div>
        </li>
        <li class="lowCloth4">
          <div>
              <img src="../image/lowCloth04.jpg" alt="">
              <h4>帆布鞋</h4>
              <span>冰点直降充值后 79元</span>
          </div>
        </li>
      </ul>
    </div>
    <!-- 更多精品 -->
    <div class="bestGoods">
      <h3>更多精品</h3>
      <ul class="goodsList">
        <li> 
          <img src="../image/best01.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best02.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best03.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best02.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best03.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best01.jpg" alt="">
        </li>
      </ul>
      <ul class="goodsList lastImg">
        <li> 
          <img src="../image/best01.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best02.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best03.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best02.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best03.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best06.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best04.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best05.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best01.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best06.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best04.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best05.jpg" alt="">
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- 底部栏 -->
<div id="footer"></div>

<!-- 底部悬浮栏 -->
<div class="scan">
  <div class="scan-main"></div>
  <p class="del"></p>
</div>


<script src="./script/jquery-1.8.3.js"></script>
<script src="./script/jquery.lazyload.js"></script>
<script src="./script/swiper-bundle.min.js"></script> 
<script src="./script/require.2.1.9.js" defer async = 'true' data-main="./script/main.js"></script>
<script src="./script/index.js"></script>

</body>
</html>