<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>凡客首页</title>
<link rel="stylesheet" href="./style/index.css">
<link rel="stylesheet" href="./style/reset.css">
<link rel="stylesheet" href="./style/swiper-bundle.min.css">

</head>
<body>
  
<!-- 头部栏 -->
<div id="title">
  <div class="tit-main">
    <div class="content">
      <span class="welcome">您好，欢迎光临凡客诚品！</span>
      <span class="login">登录</span>
      <span>|</span>
      <span class="register">注册</span>
      <span class="myOrder">我的订单</span>
      <span class="notice">网站公告</span>
      <a href="#" class="weibo"></a>
      <a href="#" class="wechat"></a>
      <img src="../image/weixin.png" alt="" class="qrcode">
    </div>
  </div>
</div>

<!-- 搜索栏 -->
<div id="search">
  <div class="srh-main">
    <div class="content">
      <div class="srh-btn">
        <input type="text" placeholder="搜“休闲裤”，体验与众不同">
        <button class="seek">搜索</button>
        <button class="shopCart">购物车（1）</button> 
      </div>      
      <div class="hot-srh">
        <ul>
          <li>热门搜索：</li>
          <li>免烫衬衫</li>
          <li>外套</li>
          <li>针织衫</li>
          <li>卫衣</li>
          <li>休闲裤</li>
          <li>帆布鞋</li>
          <li>羽绒服</li>
        </ul>
      </div> 
      <div class="cartGoods">
        <div class="content">
          <h3>最近加入的商品：</h3>
          <div class="goods-detail">
            <img src="../image/36x36.jpg" alt="">
            <div>
              <span>休闲衬衫 法兰绒 男款 藏青色</span> <br>
              <span>￥158.00 X 1</span>
            </div>
            <p>删除</p>
          </div>
          <div class="total">
            <div>
              <span>共计(未计算促销折扣)</span> <br>
              <span>￥158</span>
            </div>
            <button>查看购物车(1件)</button>
          </div>
        </div>
      </div>   
    </div>
  </div>
</div>

<!-- 导航栏 -->
<div id="nav">
  <div class="nav-main">
    <a href="#"></a>
    <ul class="navList">
      <li>首页 </li>

      <li class="fleece1">摇粒绒 
        <ul class="fleece">
          <li>摇粒绒</li>
          <li>防羊羔绒</li>
        </ul>
      </li>
      <li class="business1">商务衬衫 
        <ul class="business">
          <li>长袖免烫</li>
          <li>舒适商务</li>
          <li>高支衬衫</li>
          <li>短袖免烫</li>
          <li>短袖桑蚕丝</li>
        </ul>
      </li>
      <li class="relax1">休闲衬衫 
        <ul class="relax">
          <li>牛津纺</li>
          <li>法兰绒</li>
          <li>灯芯绒</li>
          <li>水洗棉</li>
          <li>易打理</li>
          <li>麻棉系列</li>
          <li>复古风系列</li>
          <li>女款</li>
          <li>短袖休闲衬衫</li>
        </ul>
      </li>
      <li class="sweater1">卫衣 
        <ul class="sweater">
          <li>时尚款</li>
          <li>开衫</li>
          <li>圆领</li>
          <li>连帽</li>
        </ul>
      </li>
      <li class="coat1">外套 
        <ul class="coat">
          <li>羽绒服</li>
          <li>大衣</li>
          <li>夹克</li>
          <li>西服</li>
          <li>摇粒绒</li>
          <li>冲锋衣</li>
        </ul>
      </li>
      <li class="knitwear1">针织衫 
        <ul class="knitwear">
          <li>圆领</li>
          <li>V领开衫</li>
          <li>polo领</li>
          <li>高领</li>
          <li>开衫</li>
        </ul>
      </li>
      <li class="pants1">裤装 
        <ul class="pants">
          <li>牛仔裤</li>
          <li>休闲裤</li>
          <li>针织裤</li>
          <li>运动系列</li>
          <li>沙滩裤</li>
          <li>短裤</li>
          <li>半裙</li>
        </ul>
      </li>
      <li class="shoe1">鞋 
        <ul class="shoe">
          <li>帆布鞋</li>
          <li>休闲鞋</li>
          <li>运动鞋</li>
          <li>凉鞋</li>
          <li>皮鞋</li>
          <li>靴子</li>
          <li>女鞋</li>
        </ul>
      </li>
      <li class="furniture1">家具配饰 
        <ul class="furniture">
          <li>袜品</li>
          <li>内衣</li>
          <li>家居服</li>
          <li>连裤袜</li>
          <li>家居鞋</li>
          <li>床品件套</li>
          <li>毯</li>
          <li>被</li>
          <li>围巾</li>
          <li>枕</li>
          <li>抱枕 </li>
          <li>手机壳</li>
          <li>箱包</li>
          <li>裙装</li>
          <li>马甲</li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<!-- 右侧悬浮栏 -->
<div id="floatBar">
  <div class="gift">
  </div>
  <div class="download">
  </div>
  <div class="cs">
  </div>
  <div class="toTop">
  </div>
</div>

<!-- 轮播图栏 -->
<div id="banner">
  <div class="ban-main">
    <!-- Swiper -->
     <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="../image/ban01.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="../image/ban02.jpg" alt="">

        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div> 
  </div>
</div>

<!-- 优惠券栏 -->
<div id="coupon">
  <div class="cpn-main">
    <img src="../image/coupon.jpg" alt="">
    <div class="coupon">
      <img src="../image/coupon30.jpg" alt="">
      <img src="../image/coupon150.jpg" alt="">
      <img src="../image/coupon20.jpg" alt="">
    </div>
  </div>
</div>

<!-- 商品栏 -->
<div id="goods">
  <div class="goods-main">
    <!-- 商品列表 -->
    <ul class="goodsList">
      <li class="goodsList1">
        <img src="../image/goods01.jpg" alt="">
        <img src="../image/goods02.jpg" alt="">
      </li>
      <li class="goodsList2">
        <img src="../image/goods03.jpg" alt="">
        <img src="../image/goods04.jpg" alt="">
      </li>
    </ul>
    <!-- 更多品类 -->
    <div class="moreGoods">
      <img src="../image/moreGoods.jpg" alt="" class="more">
      <ul class="moreLlist">
        <li class="moreLlist1">
          <img src="../image/more01.jpg" alt="">
          <img src="../image/more02.jpg" alt="">
        </li>
        <li class="moreLlist2">
          <img src="../image/more03.jpg" alt="">
          <img src="../image/more04.jpg" alt="">
        </li>
      </ul>
    </div>
    <!-- 优选推荐 -->
    <div class="recommend ">
      <h3>优选推荐</h3>
      <div class="recommend1">
        <img src="../image/recommend01.jpg" alt="">
        <h4>日式免烫短袖衬衫</h4>
        <span>冰点直降充值后 159元</span>
      </div>
      <div class="recommend2">
        <div class="recommend2-left">
          <div class="left1">
            <img src="../image/left2.jpg" alt="">
            <h4>牛津纺</h4>
            <span>冰点直降充值后 39元</span>
          </div>
          <div class="left2">
            <img src="../image/left1.jpg" alt="">
            <h4>卫衣</h4>
            <span>冰点直降充值后 59元</span>
          </div>
        </div>
        <div class="recommend2-right">
          <div>
            <img src="../image/recommend02.jpg" alt="">
            <h4>软壳风衣</h4>
            <span>冰点直降充值后 239元</span>
          </div>
        </div>
      </div>
      <div class="recommend2">
        <div class="recommend2-left">
          <div class="left1">
            <img src="../image/left2.jpg" alt="">
            <h4>牛津纺</h4>
            <span>冰点直降充值后 39元起</span>
          </div>
          <div class="left2">
            <img src="../image/left1.jpg" alt="">
            <h4>卫衣</h4>
            <span>冰点直降充值后 59元起</span>
          </div>
        </div>
        <div class="recommend2-right">
          <div>
            <img src="../image/recommend02.jpg" alt="">
            <h4>软壳风衣</h4>
            <span>冰点直降充值后 239元起</span>
          </div>
        </div>
      </div>
      <div class="recommend1">
        <img src="../image/recommend01.jpg" alt="">
        <h4>日式免烫短袖衬衫</h4>
        <span>冰点直降充值后 159元起</span>
      </div>
    </div>

    <!-- 下装推荐 -->
    <div class="lowCloth">
      <h3>下装推荐</h3>
      <ul class="clothList">
        <li class="lowCloth1">
            <div>
              <img src="../image/lowCloth01.jpg" alt="">
              <h4>休闲裤</h4>
              <span>冰点直降充值后 99元</span>
            </div>
        </li>
        <li class="lowCloth2">
          <div>
              <img src="../image/lowCloth02.jpg" alt="">
              <h4>牛仔裤</h4>
              <span>冰点直降充值后 79元</span>
          </div>
        </li>
        <li class="lowCloth3">
          <div>
              <img src="../image/lowCloth03.jpg" alt="">
              <h4>针织裤</h4>
              <span>冰点直降充值后 89元</span>
          </div>
        </li>
        <li class="lowCloth4">
          <div>
              <img src="../image/lowCloth04.jpg" alt="">
              <h4>帆布鞋</h4>
              <span>冰点直降充值后 79元</span>
          </div>
        </li>
      </ul>
    </div>
    <!-- 更多精品 -->
    <div class="bestGoods">
      <h3>更多精品</h3>
      <ul class="goodsList">
        <li> 
          <img src="../image/best01.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best02.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best03.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best02.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best03.jpg" alt="">
        </li>
        <li> 
          <img src="../image/best01.jpg" alt="">
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- 帮助中心 -->
<div id="help">
  <div class="help-main">
    <div class="helpTop">
      <div class="helpTop1">
        <img src="../image/onlinecustomer.png" alt=""> <br>
        <button> 7X9小时在线客服 </button>
      </div>
      <div class="helpTop2">
        <img src="../image/seven.png" alt=""> <br>
        <span>7天内退货</span> <br>
        <span>购物满199元免运费</span>
      </div>
      <div class="helpTop3">
        <img src="../image/fkqrcode.jpg" alt=""> <br>
        <span>扫描下载凡客客户端</span>
      </div>
    </div>
    <div class="helpBottom">
      <ul>
        <li>关于凡客</li>
        <li>新手指南</li>
        <li>配送范围及时间</li>
        <li>支付</li>
        <li>售后服务</li>
        <li>帮助中心</li>
      </ul>
    </div>
  </div>
</div>

<!-- 版权栏 -->
<div id="copyright">
  <div class="copy-main">
    <div class="copyContent">
      <span>Copyright 2007 - 2020 vancl.com All Rights Reserved京ICP备08000757号 京公网安备11011502002400号 出版物经营许可证新出发京批字第直110138号</span> <br>
      <span>凡客诚品（北京）科技有限公司</span>
    </div>
    <div class="copyLogo">
      <span class="logo1"></span>
      <span class="logo2"></span>
      <span class="logo3"></span>
    </div>
  </div>
</div>

<!-- 底部悬浮栏 -->
<div class="scan">
  <div class="scan-main"></div>
  <p class="del"></p>
</div>

<script src="../script/jquery-1.8.3.js"></script>
<script src="../script/swiper-bundle.min.js"></script>
<script src="../script/index.js"></script>
</body>
</html>