<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登录</title>
  <link rel="stylesheet" href="./style/reset.css">
  <link rel="stylesheet" href="./style/login.css">
  <!-- <script src="./script/require.2.1.9.js" defer async = 'true' data-main = './script/main3.js'></script> -->
</head>
<body>
  
  <!-- 登陆顶部 -->
  <div id="header">
    <div class="header-con">
      <a class="logo" href="./index.html"></a>
      <p><a href="http://help.vancl.com/" target="_blank">帮助</a></p>
    </div>
  </div>
  <!-- 登录块 -->
  <div id="wrap">
    <!-- 登录块头部 -->
    <div class="wrapHeader">
      <h3>
        <span>凡客 Vancl登录</span>
        <span>没有账户免费<a class="register" href="./register.html">注册</a></span>
      </h3>
    </div>
    <!-- 登录块广告 -->
    <div class="advertise"><img src="../image/loginBig.jpg" alt=""></div>
    <!-- 登录块输入栏 -->
    <div class="login">
      <ul class="tag">
        <li class="normal">普通登录</li>
        <li>快速登录</li>
      </ul>
      <div class="userInfo">
        <div class="user"><input type="text" name="username" placeholder="请输入用户名">
        </div>
        <div class="pass"><input type="text" name="password" placeholder="请输入密码">
        </div>
        <div class="btn">
          <a href="#" class="forget">找回密码</a>
          <a href="#" class="vanclLogin">登录</a>
        </div>
      </div>
      <div class="lines"></div>
      <div class="cooperation">
        <p>使用合作网站账号登录凡客</p>
        <a href="#" class="wx"></a>
        <a href="#" class="xm"></a>
        <a href="#" class="zf"></a>
        <a href="#" class="qq"></a>
        <a href="#" class="l360"></a>
        <a href="#" class="wb"></a>
      </div>
    </div>
  </div>
  <!-- 底部版权 -->
  <div class="bottom">
    <p>Copyright 2007 - 2020 vancl.com All Rights Reserved 京ICP证100557号 京公网安备11011502002400号 出版物经营许可证新出发京批字第直110138号</p>
    <div class="footer">
      <a href="#" class="bottom1"></a>
      <span href="#" class="bottom2"></span>
      <a class="bottom3"></a>
      <a href="#" class="bottom4"></a>
    </div>
  </div>

</body>
</html>