<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>购物车结算</title>
  <link rel="stylesheet" href="./style/reset.css">
  <link rel="stylesheet" href="./style/shoppingCar.css">
</head>
<body>

  <div id="wrapper">
    <!-- 顶部登录 -->
    <div class="topLogin">
      <a class="logo" href="http://www.vancl.com/" title="凡客诚品" target="_blank">
        <img alt="凡客诚品" src="../image/shoppingcarLogo.png">
      </a>
      <div class="topLogin-conR">
        <div class="welcome">
          <span>您好，欢迎光临凡客诚品。</span>
          <a href="./login.html">登录</a>
          <span>|</span>
          <a href="./register.html">注册</a>
        </div>
        <div class="order">
          <a href="./order.html">帮助中心</a>
        </div>
      </div>
    </div>
    <!-- 核对位置信息 -->
    <div class="location">
      <em>1.我的购物车</em>
      <span>2.填写核对信息单</span>
      <span>3.成功提交订单</span>
    </div>
    <div class="content">
      <div class="cartTop">
        <h2>我的购物车</h2>
      </div>
      <div class="tip">
        <span>温馨提示：</span>
        <span>1.选购清单中的商品无法保留库存，请您及时结算。2.商品的价格和库存将以订单提交时为准。3.促销活动满减优惠将均摊至商品小计中。
        </span>
      </div>
      <div class="cartProduct">
        <table cellspacing="0">
          <thead>
            <tr>
              <th></th>
              <th class="th2"><input type="checkbox" class="theadAll"><span>全选</span></th>
              <th class="image"></th>
              <th>商品名称</th>
              <th>尺寸</th>
              <th>单价</th>
              <th>数量</th>
              <th>优惠</th>
              <th>小计</th>
              <th>操作</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="white-space"></tr>
            <tr class="selected">
              <td class="white-space-w"></td>
              <td class="choose"><input type="checkbox"></td>
              <td class="photo"><img src="../image/cart1.jpg" alt=""></td>
              <td class="goodsInfo">针织衫圆领 棉线可机洗 男款 姜黄	</td>
              <td class="size">L</td>
              <td class="price">￥178</td>
              <td class="num"><div><a class="decrease">-</a><input type="text" value="1"><a class="increase">+</a></div></td>
              <td class="cheap">-</td>
              <td class="subtotal">￥178</td>
              <td class="operate">删除</td>
              <td class="white-space-w"></td>
            </tr>
            <tr>
              <td class="white-space-w"></td>
              <td class="choose"><input type="checkbox"></td>
              <td class="photo"><img src="../image/cart1.jpg" alt=""></td>
              <td class="goodsInfo">针织衫圆领 棉线可机洗 男款 姜黄	</td>
              <td class="size">L</td>
              <td class="price">￥178</td>
              <td class="num"><div><a class="decrease">-</a><input type="text" value="1"><a class="increase">+</a></div></td>
              <td class="cheap">-</td>
              <td class="subtotal">￥178</td>
              <td class="operate">删除</td>
              <td class="white-space-w"></td>
            </tr>
            <tr class="selected">
              <td class="white-space-w"></td>
              <td class="choose"><input type="checkbox"></td>
              <td class="photo"><img src="../image/cart1.jpg" alt=""></td>
              <td class="goodsInfo">针织衫圆领 棉线可机洗 男款 姜黄	</td>
              <td class="size">L</td>
              <td class="price">￥178</td>
              <td class="num"><div><a class="decrease">-</a><input type="text" value="1"><a class="increase">+</a></div></td>
              <td class="cheap">-</td>
              <td class="subtotal">￥178</td>
              <td class="operate">删除</td>
              <td class="white-space-w"></td>
            </tr>
            <tr class="white-space"></tr>
          </tbody>
        </table>
        <div class="summary clearfix">
          <div class="bar">
            <input type="checkbox" id="all-choice">
            <label for="all-choice">全选</label>
            <a href="#" class="del">删除</a>
            <span>数量总计：<em>5</em>件</span>
            <em class="carriage">您目前可享受全场购物免运费</em>
          </div>
          <div class="total">
            产品金额总计(不含运费)：
            <span><em>￥830.00</em></span>
            <a href="#" style="font-weight: normal;">点击领取优惠券</a>
          </div>
          <div class="calculate">
            <a href="#" class="continueBuy">&lt;&lt;继续购物</a>
            <a href="#" class="goPay">去结算&gt;&gt;</a>
          </div>  
        </div>
      </div>
    </div>
     <!-- 底部版权 -->
    <div class="bottom">
      <p>Copyright 2007 - 2020 vancl.com All Rights Reserved 京ICP证100557号 京公网安备11011502002400号 出版物经营许可证新出发京批字第直110138号</p>
      <div class="footer">
        <a href="#" class="bottom1"></a>
        <span href="#" class="bottom2"></span>
        <a class="bottom3"></a>
        <a href="#" class="bottom4"></a>
      </div>
    </div>
  </div>
  


  <script src="./script/jquery-1.8.3.js"></script>
  <script src="./script/shoppingCar.js"></script>
</body>
</html>